body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: lightgray;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    position: fixed;
}
.header-logo {
    display: flex;
    gap: 55px;
    align-items: center;
}
.img-logo img {
    width: 55px ;
    border-radius: 55px ;
    border-radius: 50%;
}
